* {
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  transition: color 50ms linear, background 50ms linear;

}


span {
  font-size: 12px;
}

::placeholder {
  color: #3b3b3b !important;

}

span {
  color: #000;
}

body {
  background: url("/images/bg.png") no-repeat;
  background-size: cover;
}

em, i {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  -webkit-user-drag: none;
}